<h1>Create Recipe</h1>
<form action="/recipes" method="POST">
  <label for="name">Recipe Name: </label><br>
  <input id="name" type="text" name="name"><br>
  <label for="ingredients">Recipe Ingredients: </label><br>
</form>
